//ABOUT AND SKILLS/TOOLBOX STYLES
#about {
    background: $white;
    .wrapper {
        padding: 8% 0;
        display: flex; 
        justify-content: flex-end;
        position: relative;
        .aboutTitle {
            width: 70%;
            position: absolute;
            top: 8%;
            left: -41%;
            border-bottom: 2px solid $black;
            transform: rotate(-90deg);
            font-size: calc(1rem + 3vw);
            color: $accent;
        }
        .portrait {
            width: 40%;
            //height: -moz-min-content;
            align-self: flex-start;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .content {
            width: 57%;
            margin-left: 3%;
            color: $black;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            h3 {
                font-size: calc(1rem + 2.6vw);
                margin: 10px 0;
                line-height: 60px;
            }
            p {
                margin: 5px 0;
                width: 90%;
                font-size: calc(1rem + 0.5vw);
            }
            a {
                display: block;
                width: fit-content;
                width: -moz-fit-content;
                margin-top: 25px;
                padding: 10px;
                color: $black;
                background: transparent;
                border: 2px solid $black;
                border-radius: 5px;
                font-size: calc(1rem + 0.3vw);
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;
                transition: all 0.5s ease;
                &:hover {
                    background: $accent;
                }
            }
        }
    }
    @media (max-width: 705px){
        .wrapper {
            flex-direction: column;
            align-items: center;
            .portrait {
                align-self: center;
                width: 50%;
                height: -moz-min-content;
            }
            .content {
                width: 90%;
                margin: 0 auto;
                align-items: center;
                h3 {
                    margin-bottom: 0;
                }
                p {
                    margin: 5px 10px;
                }
            }
        }
    }
}

.skills {
    background: linear-gradient(to bottom right, $accent 10%, $lightShade 80%);
    .wrapper {
        padding: 5% 0;
        position: relative;
        .skillsTitle {
            margin-top: 0;
            width: 70%;
            float: right;
            border-bottom: 2px solid $black;
            font-size: calc(1rem + 3vw);
            text-align: right;
            color: $white;
            // text-shadow: 1px 1px $darkShade, 2px 2px $darkShade;
        }
    }
    .skillsContainer {
        width: 100%;
        margin: 25px 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        //grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        figure {
            padding: 25px 0;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            color: $black;
            .devicon-jquery-plain::before, 
            .devicon-visualstudio-plain::before {
                font-size: 7em;
            }
            figcaption {
                font-size: calc(1rem + 0.5vw);
                text-align: center;
            }
        }
        .firebase {
            img {
                width: 70px;
            }
        }

    }
    @media (max-width: 690px) {
        .wrapper {
            .skillsTitle {
                float: left;
            }
        }
    }
}