#about {
    background: $white;
    .wrapper {
        padding: 5% 0;
        display: flex; 
        justify-content: space-evenly;
        position: relative;
        .aboutTitle {
            width: 70%;
            border-bottom: 2px solid $black;
            position: absolute;
            top: 8%;
            left: -41%;
            transform: rotate(-90deg);
            font-size: calc(1rem + 3vw);
            color: $accent;
            // text-shadow: 1px 1px $darkShade, 2px 2px $darkShade;
        }
        .portrait {
            width: 40%;
            img {
                width: 100%;
            }
        }
        .content {
            width: 55%;
            color: $black;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            h3 {
                font-size: calc(1rem + 2.6vw);
                margin: 10px 0;
                line-height: 60px;
                span {
                    //display: inline-block;
                    width: 100%;
                    font-size: calc(1rem + 0.6vw);
                }
            }
            p {
                width: 80%;
                font-size: calc(1rem + 0.5vw);
            }
            a {
                display: block;
                width: fit-content;
                width: -moz-fit-content;
                padding: 10px 15px;
                color: $darkShade;
                background: $lightShade;
                border-radius: 25px;
                font-size: calc(1rem + 0.3vw);
                text-transform: uppercase;
                text-decoration: none;
                transition: all 0.5s ease;
                &:hover {
                    color: $lightShade;
                    background: $darkShade;
                }
            }
        }
    }

}

.skills {
    background: linear-gradient(to bottom right, $accent 10%, $lightShade 80%);
    .wrapper {
        padding: 5% 0;
        position: relative;
        .skillsTitle {
            margin-top: 0;
            width: 70%;
            float: right;
            border-bottom: 2px solid $black;
            font-size: calc(1rem + 3vw);
            text-align: right;
            color: $white;
            // text-shadow: 1px 1px $darkShade, 2px 2px $darkShade;
        }
    }
    .skillsContainer {
        width: 100%;
        margin: 25px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        //grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        figure {
            padding: 25px 0;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            color: $black;
            .devicon-jquery-plain::before, 
            .devicon-visualstudio-plain::before {
                font-size: 7em;
            }
            figcaption {
                font-size: calc(1rem + 0.5vw);
                text-align: center;
            }
            
        }
        .firebase {
            img {
                width: 70px;
            }
        }

    }
}