#contact {
    background: $lightShade;
    .wrapper {
        padding: 5% 0;
        color: $black;
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    h1 {
        align-self: flex-end;
        margin: 10px 20px;
        width: 70%;
        border-bottom: 2px solid $black;
        font-size: calc(1rem + 3vw);
        text-align: right;
    }
    h4 {
        width: 100%;
        text-align: center;
        font-size: calc(1rem + 1.4vw);
        //margin-top: 0;
        margin-bottom: 20px;
    }
    .contactInfo {
        margin: 0;
        align-self: center;
        //border: 1px solid red;
        display: flex;
        .email, .location {
            display: flex;
            flex-flow: row wrap;
            font-size: calc(1rem + 0.5vw);
            width: fit-content;
            width: -moz-fit-content;
            padding: 5px 20px;
            text-align: center;
            p {
                margin: 0 10px;
            }
        }
        .email {
            border-right: 2px solid $black;
        }
    }
    .lowerContact {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }
    form {
        width: 90%;
        background: transparent;
        display: flex;
        flex-flow: column wrap;
        font-size: calc(1rem + 0.3vw);
        .group { 
            position:relative;
            margin-top: 20px; 
            margin-bottom:25px; 
            input, textarea {
                background: transparent;
                width: 100%;
                display: block;
                padding:10px 10px 10px 5px;
                border: none;
                border-bottom: 2px solid $black;
            }
            label {
                color:$black; 
                font-weight:normal;
                pointer-events:none;
                position:absolute;
                left:1%;
                top:10%;
                transition:0.2s ease all; 
            }
            input {
                &:focus {
                    outline: dotted $black;
                }
                &:focus ~ label, &:valid ~ label {
                  top: -65%;
                  font-size: calc(1rem + 0.4vw);
                  color: $darkShade;
                }
                &:focus ~ .bar::before, &:focus ~ .bar::after {
                    width: 50%;
                }
            }
            textarea {
                position: relative;
                resize: none;
                &:focus {
                    outline: dotted $black;
                }
                &:focus ~ label, &:valid ~ label {
                    top: -25%;
                    font-size: calc(1rem + 0.4vw);
                    color: $darkShade;
                }
            }
            .bar {
                position: relative;
                display: block;
                width: 100%;
                &::before, &::after {
                    content: '';
                    height: 2px;
                    width: 0;
                    position: absolute;
                    background: $black;
                    transition: all 0.2s ease; 
                }
                &::before {
                    left: 50%;
                }
                &::after {
                    right: 50%;
                }
            }
        }
        input[type=submit] {
            width: fit-content;
            width: -moz-fit-content;
            margin: 10px auto;
            padding: 10px;
            font-size: calc(1rem + 0.3vw);
            font-weight: bold;
            text-transform: uppercase;
            border: 2px solid $black;
            border-radius: 5px;
            background: transparent;
            transition: background 0.5s ease;
            &:hover {
                background: $accent;
            } 
            &:focus {
                background: $accent;
                outline: dotted $black;
            }
        }
    }
    @media (max-width: 830px) {
        .wrapper {
            justify-content: center;
        }
        .lowerContact {
            flex-direction: column;
            justify-content: center;
            form {
                width: 90%;
            }
        }
    }
    @media (max-width: 670px) {
        h1 {
            align-self: center;
        }
        .contactInfo {
            flex-direction: column;
            align-items: center;
            .email, .location {
                padding: 0 10px;
                p {
                    margin: 0 5px;
                }
            }
            .email {
                border-right: 2px solid transparent;
            }
        }
    }
}
