footer {
    background: linear-gradient(to bottom right, $accent, $lightShade);
    padding: 1px;
    font-family: $mainFont;
    color: $black;
    .courtesy {
        width: 100%;
        font-size: calc(1rem + 0.5vw);
        text-align: center;
        a {
            color: $darkShade;
        }
    }
}