header {
    padding: 1px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url(../../public/assets/portfolioHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    .wrapper {
        position: relative;
        nav {
            position: absolute;
            top: 0;
            left: 0;
            ul {
                padding: 0;
                display: flex;
                flex-flow: row wrap;
                li {
                    list-style-type: none;
                    margin: 0 5px;
                    a {
                        padding: 10px 5px;
                        text-decoration: none;
                        text-transform: lowercase;
                        font-size: calc(1rem + 0.2vw); 
                        color: $white;
                    }
                }
            }
        }
        .title {
            border: 1px solid gold;
            margin: 25vh auto;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: calc(1rem + 2.3vw);
                margin-bottom: 0;
                span {
                    font-size: calc(1rem + 4vw);
                    text-shadow: 1px 1px $accent, 2px 2px $accent;
                }
            }
            h2 {
                font-size: calc(1rem + 0.5vw);
                border-top: 1px solid $white;
                border-bottom: 1px solid $white;
            }
        }
        .socialNav {
            border: 1px solid green;
            position: fixed;
            top: 20%;
            right: 10%;
            ul {
                border: 1px solid black;
                height: 200px;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                li {
                    border: 1px solid gold;
                    list-style-type: none;
                    margin: 5px;
                    a {
                        font-size: calc(1rem + 0.2vw);
                        color: $white;
                        padding: 15px;
                    }
                    &:nth-child(1) {
                        transform: rotate(90deg) translate(-60%, 25%);
                        ::after {
                            content: '';
                            border-top: 2px solid $white;
                        }
                    } 
                }
            }
        }
    }
}